@import "reset.css";

html{
    font-size:100%;
}

body{
    color:#24292e;
    animation: fadeIn 3s ease 0s 1 normal;
}

a{
    text-decoration: none;
    color: black;
}


@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}

header img{
    width: 6%;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto 100px auto;
    font-size: 0.9rem;
    padding: 04%;
}

.sec-title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

#contact dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#contact dt{
    width: 15%;
}

#contact dd{
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea{
    width: 100%;
    border:solid 1px #c8c8c8;
    padding:10px;
}

#contact dd textarea{
    height: 10rem;
}

#contact .button{
    text-align: center;
}

#contact .button input{
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

#contact .button input:hover{
    background-color: #fff;
    color: #24292e;
}

@media screen and (max-width:600px) {

    header img{
        width: 10%;
        height: auto;
        position: fixed;
        top: 32px;
        left: 20px;
        z-index: 10;
    }    

    .wrapper{
        margin-bottom:70px;
    }

    .sec-title{
        margin-bottom: 40px;
    }

    #contact dl{
        flex-direction: column;
    }
    #contact dt{
        width: 100%;
    }
    #contact dd{
        width: 100%;
    }
    
}
